# 0. Load dataset

In [1]:
import numpy as np
import pandas as pd
import researchpy as rp
import seaborn as sns
from sklearn.linear_model import LogisticRegression as LR
from sklearn.preprocessing import StandardScaler
import statsmodels.api as sm
from matplotlib import pyplot as plt
%matplotlib inline
from utils.stats_utils import OLS_model

In [2]:
df = pd.read_csv('data/cleaned_data_by_clustering_fill.csv', delimiter=",")
df.drop(['Component1', 'Component2', 'Component3', 'Component4', 'k-means cluster'], axis=1, inplace=True)

In [3]:
df.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,31,admin.,single,high.school,no,yes,no,telephone,dec,mon,...,1,999,0,nonexistent,-0.2,92.756,-45.9,3.816,5176.3,no
1,39,housemaid,married,basic.4y,no,yes,no,telephone,dec,wed,...,1,999,1,failure,-0.2,92.756,-45.9,3.743,5176.3,no
2,41,technician,divorced,professional.course,no,no,yes,cellular,dec,thu,...,1,999,0,nonexistent,-0.2,92.756,-45.9,3.669,5176.3,no
3,37,admin.,married,high.school,no,yes,no,telephone,dec,fri,...,1,999,0,nonexistent,-0.2,92.756,-45.9,3.563,5176.3,no
4,48,admin.,married,high.school,no,yes,yes,telephone,dec,fri,...,1,999,0,nonexistent,-0.2,92.756,-45.9,3.563,5176.3,no

# 1. Standardlize Numeric data

In [4]:
df_numeric = df[["age", "campaign", "pdays", "previous", "emp.var.rate", "cons.price.idx", "cons.conf.idx", "euribor3m", "nr.employed"]]
df_numeric

,age,campaign,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed
0,31,1,999,0,-0.2,92.756,-45.9,3.816,5176.3
1,39,1,999,1,-0.2,92.756,-45.9,3.743,5176.3
2,41,1,999,0,-0.2,92.756,-45.9,3.669,5176.3
3,37,1,999,0,-0.2,92.756,-45.9,3.563,5176.3
4,48,1,999,0,-0.2,92.756,-45.9,3.563,5176.3
...,...,...,...,...,...,...,...,...,...
41183,54,2,10,1,-1.1,94.767,-50.8,1.035,4963.6
41184,40,2,999,4,-1.1,94.767,-50.8,1.030,4963.6
41185,62,1,1,6,-1.1,94.767,-50.8,1.031,4963.6
41186,62,2,6,3,-1.1,94.767,-50.8,1.031,4963.6
41187,29,1,9,1,-1.1,94.767,-50.8,1.028,4963.6

In [5]:
ss = StandardScaler()
df_numeric_scaled = pd.DataFrame(ss.fit_transform(df_numeric),columns = df_numeric.columns)

In [6]:
df_numeric_scaled.head()

,age,campaign,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed
0,-0.865939,-0.565922,0.195414,-0.349494,-0.179437,-1.416064,-1.166213,0.112261,0.128222
1,-0.098268,-0.565922,0.195414,1.671136,-0.179437,-1.416064,-1.166213,0.070173,0.128222
2,0.093650,-0.565922,0.195414,-0.349494,-0.179437,-1.416064,-1.166213,0.027507,0.128222
3,-0.290186,-0.565922,0.195414,-0.349494,-0.179437,-1.416064,-1.166213,-0.033608,0.128222
4,0.765363,-0.565922,0.195414,-0.349494,-0.179437,-1.416064,-1.166213,-0.033608,0.128222

# 2. Transform categorical data

In [7]:
job = pd.get_dummies(df['job'], drop_first=True)
job = job.add_prefix("job_")
marital = pd.get_dummies(df['marital'], drop_first=True)
marital = marital.add_prefix("marital_")
education = pd.get_dummies(df['education'], drop_first=True)
education = education.add_prefix("education_")
default = pd.get_dummies(df['default'], drop_first=True)
default = default.add_prefix("default_")
housing = pd.get_dummies(df['housing'], drop_first=True)
housing = housing.add_prefix("housing_")
loan = pd.get_dummies(df['loan'], drop_first=True)
loan = loan.add_prefix("loan_")
contact = pd.get_dummies(df['contact'], drop_first=True)
contact = contact.add_prefix("contact_")
month = pd.get_dummies(df['month'], drop_first=True)
month = month.add_prefix("month_")
day_of_week = pd.get_dummies(df['day_of_week'], drop_first=True)
day_of_week = day_of_week.add_prefix("day_of_week_")
poutcome = pd.get_dummies(df['poutcome'], drop_first=True)
poutcome = poutcome.add_prefix("poutcome_")
y = pd.get_dummies(df['y'], drop_first=True)
y = y.add_prefix("y_")

df_categorical = pd.concat([job, marital, education, default, housing, loan, contact, month, day_of_week, poutcome, y], axis=1)

In [8]:
df_categorical.head()

,job_blue-collar,job_entrepreneur,job_housemaid,job_management,job_retired,job_self-employed,job_services,job_student,job_technician,job_unemployed,...,month_nov,month_oct,month_sep,day_of_week_mon,day_of_week_thu,day_of_week_tue,day_of_week_wed,poutcome_nonexistent,poutcome_success,y_yes
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0
1,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,1,0,0,1,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

# 3. Do the first predictive analysis

In [9]:
df1 = pd.concat([df_numeric_scaled, df_categorical], axis=1)
df1.head()

,age,campaign,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,job_blue-collar,...,month_nov,month_oct,month_sep,day_of_week_mon,day_of_week_thu,day_of_week_tue,day_of_week_wed,poutcome_nonexistent,poutcome_success,y_yes
0,-0.865939,-0.565922,0.195414,-0.349494,-0.179437,-1.416064,-1.166213,0.112261,0.128222,0,...,0,0,0,1,0,0,0,1,0,0
1,-0.098268,-0.565922,0.195414,1.671136,-0.179437,-1.416064,-1.166213,0.070173,0.128222,0,...,0,0,0,0,0,0,1,0,0,0
2,0.093650,-0.565922,0.195414,-0.349494,-0.179437,-1.416064,-1.166213,0.027507,0.128222,0,...,0,0,0,0,1,0,0,1,0,0
3,-0.290186,-0.565922,0.195414,-0.349494,-0.179437,-1.416064,-1.166213,-0.033608,0.128222,0,...,0,0,0,0,0,0,0,1,0,0
4,0.765363,-0.565922,0.195414,-0.349494,-0.179437,-1.416064,-1.166213,-0.033608,0.128222,0,...,0,0,0,0,0,0,0,1,0,0

In [10]:
X = df1.drop(["y_yes", "emp.var.rate", "cons.price.idx", "cons.conf.idx", "euribor3m", "nr.employed"], axis=1)
y = df1['y_yes']
OLS_model(X, y)

                            OLS Regression Results
==============================================================================
Dep. Variable:                  y_yes   R-squared:                       0.167
Model:                            OLS   Adj. R-squared:                  0.166
Method:                 Least Squares   F-statistic:                     200.7
Date:                Sat, 10 Sep 2022   Prob (F-statistic):               0.00
Time:                        13:58:00   Log-Likelihood:                -7262.4
No. Observations:               41188   AIC:                         1.461e+04
Df Residuals:                   41146   BIC:                         1.497e+04
Df Model:                          41
Covariance Type:            nonrobust
=================================================================================================
                                    coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------------------
const                             0.1452      0.012     11.686      0.000       0.121       0.170
age                               0.0032      0.002      1.764      0.078      -0.000       0.007
campaign                         -0.0105      0.001     -7.284      0.000      -0.013      -0.008
pdays                            -0.0514      0.005    -10.257      0.000      -0.061      -0.042
previous                          0.0184      0.003      5.500      0.000       0.012       0.025
job_blue-collar                  -0.0204      0.005     -3.983      0.000      -0.030      -0.010
job_entrepreneur                 -0.0154      0.008     -1.879      0.060      -0.031       0.001
job_housemaid                    -0.0082      0.010     -0.848      0.396      -0.027       0.011
job_management                   -0.0114      0.006     -1.843      0.065      -0.023       0.001
job_retired                       0.0658      0.009      7.663      0.000       0.049       0.083
job_self-employed                -0.0096      0.008     -1.169      0.243      -0.026       0.007
job_services                     -0.0171      0.006     -3.012      0.003      -0.028      -0.006
job_student                       0.0854      0.011      8.095      0.000       0.065       0.106
job_technician                   -0.0107      0.005     -2.124      0.034      -0.021      -0.001
job_unemployed                    0.0058      0.010      0.604      0.546      -0.013       0.025
marital_married                   0.0044      0.005      0.940      0.347      -0.005       0.014
marital_single                    0.0179      0.005      3.326      0.001       0.007       0.028
education_basic.6y                0.0054      0.008      0.703      0.482      -0.010       0.020
education_basic.9y               -0.0022      0.006     -0.373      0.709      -0.014       0.010
education_high.school             0.0044      0.006      0.718      0.473      -0.008       0.017
education_illiterate              0.1080      0.068      1.583      0.114      -0.026       0.242
education_professional.course     0.0072      0.007      1.037      0.300      -0.006       0.021
education_university.degree       0.0171      0.006      2.820      0.005       0.005       0.029
default_yes                      -0.0891      0.167     -0.534      0.593      -0.416       0.238
housing_yes                      -0.0012      0.003     -0.425      0.671      -0.007       0.004
loan_yes                         -0.0036      0.004     -0.906      0.365      -0.011       0.004
contact_telephone                -0.0725      0.004    -18.559      0.000      -0.080      -0.065
month_aug                        -0.1032      0.007    -14.909      0.000      -0.117      -0.090
month_dec                         0.1761      0.022      7.910      0.000       0.132       0.220
month_jul                        -0.0916      0.007    -13.549      0.000      -0.105      -0.078
month_jun                        -0.0309      0.008     -4.110      0.000      -0.046      -0.016
month_mar                         0.2338      0.014     17.107      0.000       0.207       0.261
month_may                        -0.0841      0.007    -12.921      0.000      -0.097      -0.071
month_nov                        -0.1022      0.007    -14.055      0.000      -0.116      -0.088
month_oct                         0.1448      0.012     11.751      0.000       0.121       0.169
month_sep                         0.1175      0.014      8.656      0.000       0.091       0.144
day_of_week_mon                  -0.0159      0.005     -3.516      0.000      -0.025      -0.007
day_of_week_thu                   0.0044      0.005      0.964      0.335      -0.005       0.013
day_of_week_tue                   0.0064      0.005      1.386      0.166      -0.003       0.015
day_of_week_wed                   0.0104      0.005      2.258      0.024       0.001       0.019
poutcome_nonexistent              0.0508      0.009      5.563      0.000       0.033       0.069
poutcome_success                  0.1706      0.026      6.457      0.000       0.119       0.222
==============================================================================
Omnibus:                    17597.092   Durbin-Watson:                   1.788
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            69868.145
Skew:                           2.172   Prob(JB):                         0.00
Kurtosis:                       7.673   Cond. No.                         217.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.